*{
	margin: 0;
	padding: 0;
	font-family: century Gothic;

}
header{
    background-image: url(bg.jpg);
    height: 100vh;
}
ul{
	list-style-type: none;
	float: right;
	margin-top: 12px;
	margin-right: 80px;
}
ul li{
	display: inline-block;


}
ul li a{
	text-decoration: none;
	color: darkblue;
	padding: 5px 20px;
	border: 2px solid seagreen;
	transition: 0.5 ease;
}
ul li a:hover{
	background-color: green;
	color: black;
}
ul li.active a{
	background-color: green;
	color: black;
}
.logo img{
	float: left;
	height: 100px;
	width: 100px;
	border-radius: 50px;
}
.logo{
	padding: 4px 15px;
	margin-top: 8px;
}
.logo label{
	float: left;
	margin-top: 25px;
	color: darkblue;
		padding: 4px;
	


}
.main{
	max-width: 1500px;
	background-color: cadetblue;
	border: 2px solid black;
	height: 120px;
}
.title{
	position: absolute;
	top: 40%;
	left: 40%;
	transform: translate(-40%,-40%);
}
.search{
	height: 40px;
	background-color: lightskyblue;
}
.search button{
	float: right;
	margin-right: 4px;
	padding-top: 4px;
}

.search label input{
	float: right;
	margin-right: 20px;
}